Fichier: analysis_data_gouv_ci_eco_petits_commerces_abidjan.ipynb
Dataset: datasets/data_gouv_ci/economie/Listing des petits commerces et petits services à Abidjan.xlsx

In [2]:
# Import pandas
import pandas as pd

# Assignation fichier excel: fichier
fichier = 'datasets/data_gouv_ci/economie/Listing des petits commerces et petits services à Abidjan.xlsx'

# Load spreadsheet : xlsx
xlsx = pd.ExcelFile(fichier)

# Affichage sheet name
print(xlsx.sheet_names)

/home/yankees/.local/lib/python3.11/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

['smallbusinessabidjan']

In [3]:
# Load fichier excel into dataframe using its index (0)
df_petits_commerces = xlsx.parse(0, skiprows=[0], names=['Coordonnees', 'Categorie', "Nom de l'activite"])

# Affichage entete de la dataframe
df_petits_commerces.head()

,Coordonnees,Categorie,Nom de l'activite
0,"{""type"":""Point"",""coordinates"":[-4.0557911,5.34...",Artisanat,Atelier D'Architecture Metalique
1,"{""type"":""Point"",""coordinates"":[-4.0587267,5.34...",Artisanat,Vulcanisateur
2,"{""type"":""Point"",""coordinates"":[-4.0589274,5.34...",Artisanat,Horlogier
3,"{""type"":""Point"",""coordinates"":[-4.059064,5.342...",Artisanat,Reparateur Ventilateur
4,"{""type"":""Point"",""coordinates"":[-4.0811366,5.34...",Artisanat,Ferronnerie

In [4]:
# Get data types of columns
df_petits_commerces.dtypes

Coordonnees          object
Categorie            object
Nom de l'activite    object
dtype: object

In [5]:
# Get DataFrame information
df_petits_commerces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Coordonnees        2760 non-null   object
 1   Categorie          2760 non-null   object
 2   Nom de l'activite  2760 non-null   object
dtypes: object(3)
memory usage: 64.8+ KB

In [6]:
# Get the summary statistic
df_petits_commerces['Coordonnees'].describe()

count                                                  2760
unique                                                 2758
top       {"type":"Point","coordinates":[-3.9679447,5.30...
freq                                                      2
Name: Coordonnees, dtype: object