Fichier: analysis_data_gouv_ci_eco_petits_commerces_abidjan.ipynb
Dataset: datasets/data_gouv_ci/economie/Listing des petits commerces et petits services à Abidjan.xlsx

# Import libraries

In [2]:
import pandas as pd

/home/yankees/.local/lib/python3.11/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Get the data

In [3]:
def load_petits_commerces_data():
    # Assignation fichier excel: fichier
    fichier = 'datasets/data_gouv_ci/economie/Listing des petits commerces et petits services à Abidjan.xlsx'

    # Load spreadsheet : xlsx
    xlsx = pd.ExcelFile(fichier)

    # Load fichier excel into dataframe using its index (0)
    df_petits_commerces = xlsx.parse(0, skiprows=[0], names=['Coordonnees', 'Categorie', "Nom de l'activite"])
    return  df_petits_commerces

In [4]:
petits_commerces_abidjan = load_petits_commerces_data()

# Affichage entete de la dataframe

In [5]:
# Affichage entete de la dataframe
petits_commerces_abidjan.head()

,Coordonnees,Categorie,Nom de l'activite
0,"{""type"":""Point"",""coordinates"":[-4.0557911,5.34...",Artisanat,Atelier D'Architecture Metalique
1,"{""type"":""Point"",""coordinates"":[-4.0587267,5.34...",Artisanat,Vulcanisateur
2,"{""type"":""Point"",""coordinates"":[-4.0589274,5.34...",Artisanat,Horlogier
3,"{""type"":""Point"",""coordinates"":[-4.059064,5.342...",Artisanat,Reparateur Ventilateur
4,"{""type"":""Point"",""coordinates"":[-4.0811366,5.34...",Artisanat,Ferronnerie

# Get data types of columns

In [6]:

petits_commerces_abidjan.dtypes

Coordonnees          object
Categorie            object
Nom de l'activite    object
dtype: object

# Get DataFrame information

In [7]:

petits_commerces_abidjan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Coordonnees        2760 non-null   object
 1   Categorie          2760 non-null   object
 2   Nom de l'activite  2760 non-null   object
dtypes: object(3)
memory usage: 64.8+ KB

# Get the summary statistic for column `Coordonnees`

In [8]:

petits_commerces_abidjan['Coordonnees'].describe()

count                                                  2760
unique                                                 2758
top       {"type":"Point","coordinates":[-3.9679447,5.30...
freq                                                      2
Name: Coordonnees, dtype: object

# Data Cleaning

## Get duplicate rows

In [12]:
# Get duplicate rows
duplicates = petits_commerces_abidjan.duplicated()
petits_commerces_abidjan[duplicates]

Empty DataFrame
Columns: [Coordonnees, Categorie, Nom de l'activite]
Index: []

In [19]:
# Column names to check for duplication
column_names = ['Coordonnees',"Nom de l'activite"]
duplicates_coordonnees = petits_commerces_abidjan.duplicated(subset = column_names, keep = False) # will keep all the duplicate

# Output duplicate values for coordonnees
petits_commerces_abidjan[duplicates_coordonnees]

Empty DataFrame
Columns: [Coordonnees, Categorie, Nom de l'activite]
Index: []

In [20]:
# Output the total number of duplicate
duplicates_coordonnees.sum()

0